<h1>Silly answers</h1>
<div class="ques-box">
  <h3><%= @question %></h3>
  <p>- You</p>
</div>
<div class="ans-box">
  <h4>- <%= @answer%></h4>
  <p>- Your answer</p>
  <%= link_to 'Ask me a new question..', ask_path%>
</div>
