<h1>I'm your silly Coach</h1>

<form action="/answer">
  <input
    type="text"
    id="question"
    name="question"
    placeholder="Ask me whatever you want..."
    class="question-input"
  />
  <input type="submit" value="Ask!" />
</form>
